.togglerWrapper {
  .darkMode {
    .sun {
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    .moon {
      transform: translate(-50%, -150%);
      opacity: 0;
    }
  }
}

.togglerWrapper {
  width: 25px;
  height: 25px;
  button {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    overflow: hidden;
    padding: 0;

    //center image inside button
    img,
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25px;
      height: 25px;
      pointer-events: none;
    }

    .moon {
      z-index: 2;
      // Transition properties
      transition: transform 0.3s, opacity 0.3s, fill 0.3s;
      fill: black;
    }

    .sun {
      z-index: 1;
      // Transition property
      transform: translate(-50%, 100%);
      opacity: 1;
      transition: transform 0.3s, opacity 0.3s;
    }
  }
}
