@media only screen and (min-width: 0rem) {
  :root {
    --topperFontSize: #{$topperFontSize};
    --headerFontSize: #{$headerFontSize};
    --bodyFontSize: #{$bodyFontSize};
    --defaultFontSize: #{$defaultFontSize};
  }
  .topper {
    display: block;
    margin-bottom: 0.25rem;
    letter-spacing: 0.1em;
    font-size: var(--topperFontSize);
    line-height: 1.2;
    text-align: inherit;
    font-weight: 700;
  }

  .title {
    position: relative;
    margin: 0 0 1rem 0;
    font-size: var(--headerFontSize);
    line-height: 1.2;
    font-weight: 900;
    text-align: inherit;
  }

  .text {
    margin: 0;
    width: 100%;
    font-size: var(--bodyFontSize);
    line-height: 1.5;
    text-align: inherit;
  }

  .textScalable {
    margin: 0;
    width: 100%;
    font-size: var(--defaultFontSize);
    line-height: 1.5;
    text-align: inherit;
  }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
  body,
  html {
    color: var(--default-text-color);
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-size: 100%;
    scroll-behavior: smooth;
    background-color: var(--background-color);
    font-family: $regular-font;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  body {
    transition: background-color 0.3s;
  }

  .container {
    position: relative;
    margin: auto;
    width: 92%;
    max-width: 1800px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: 1rem;
  }

  p,
  li,
  a {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
  }

  a,
  button {
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
  li {
    list-style-type: none;
  }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    margin: 0 !important;
    padding: 0 !important;
  }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
  body,
  html {
    font-size: 0.55vw;
  }
}
