// Media query mixins
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $breakpoint-desktop) {
    @content;
  }
}
