// =======================================
// ============= BREAKPOINTS =============
// =======================================
$breakpoint-mobile-sm: 380px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1300px;
// =======================================
// ================ COLORS ===============
// =======================================

// Light theme variables
:root {
  // Text colors
  --default-text-color: black;
  --secondary-text-color: white;
  // Background colors
  --background-color: white;
  --secondary-bg-color: #0f1214;
  //Custom
  --default-shadow-color: rgb(0 0 0 / 0.1);
  --accent-text-color: #7d50ff;
}

// Dark theme variables
[data-theme="dark"] {
  // Text colors
  --default-text-color: white;
  --secondary-text-color: black;
  // Background colors
  --background-color: #0f1214;
  --secondary-bg-color: #242424;
  //Custom
  --default-shadow-color: rgb(255 255 255 / 0.1);
}
// =======================================
// ============= FONTS ===================
// =======================================

/* 13px - 16px */
$topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
// 16px - 24px
$defaultFontSize: clamp(1rem, 2vw, 1.5rem);
/* 31px - 49px */
$headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
$bodyFontSize: 1rem;

// Font styles

// Roboto Regular
@font-face {
  font-family: "Poppins Regular";
  src: url("@/assets/fonts/Poppins-Regular.ttf") format("truetype");
}
$regular-font: "Poppins Regular", sans-serif;

// Poppins Bold
@font-face {
  font-family: "Poppins Bold";
  src: url("@/assets/fonts/Poppins-Bold.ttf") format("truetype");
}
$bold-font: "Poppins Bold", sans-serif;
// =======================================
// ============= CUSTOM ==================
// =======================================

// Light theme variables
$shadowElevation6: 0px 3px 5px -1px var(--default-shadow-color),
  0px 6px 10px 0px var(--default-shadow-color),
  0px 1px 18px 0px var(--default-shadow-color);
$shadowElevation12: 0px 7px 8px -4px var(--default-shadow-color),
  0px 12px 17px 2px var(--default-shadow-color),
  0px 5px 22px 4px var(--default-shadow-color);

$shadowElevationAll6: 0px -2px 4px -1px var(--default-shadow-color),
  0px 2px 4px -1px var(--default-shadow-color),
  0px -3px 6px 0px var(--default-shadow-color),
  0px 3px 6px 0px var(--default-shadow-color),
  0px -1px 8px 0px var(--default-shadow-color),
  0px 1px 8px 0px var(--default-shadow-color);
