#header {
  box-shadow: $shadowElevationAll6;

  .wrapper {
    display: flex;
    margin: 0 auto;
    width: 95%;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      width: 220px;
      @include mobile-sm {
        width: 300px;
      }
      img {
        width: 220px;
        @include mobile-sm {
          width: 280px;
        }
      }
    }
  }
  .navActions {
    position: relative;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 0 auto;

    .landingNav {
      display: none;
      @include tablet {
        display: block;
      }
    }

    .mobileNav {
      display: block;
      @include tablet {
        display: none;
      }
    }
  }

  .list {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
