#header {
  box-shadow: $shadowElevation6;
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;

    .logo {
      font-weight: bold;
      width: 220px;
      height: 50px;
      display: flex;
      align-items: center;
      @include mobile-sm {
        width: 300px;
      }
      img {
        width: 220px;
        @include mobile-sm {
          width: 280px;
        }
      }
    }
  }
  .navActions {
    position: relative;
    display: flex;
    gap: 2rem;
    align-items: center;

    .mainNav {
      display: none;
      @include tablet {
        display: block;
      }
    }

    .mobileNav {
      display: block;
      @include tablet {
        display: none;
      }
    }
  }
}
