.card {
  width: 290px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  text-align: center;

  .cardContent {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    // TITLE
    h3 {
      font-size: $titleFontSize;
      text-decoration: none;
      margin-bottom: 1rem;
    }

    // PRICE

    .price {
      margin: 2rem 0 3rem 0;
      position: relative;

      .currency {
        padding: 0 0.5rem;
      }
      .priceValue {
        font-size: $headerFontSize;
      }
    }

    // DESCRIPTION
    .description {
      margin: 2rem 0 1rem 0;
    }

    // PRICE
    .price {
    }
  }

  // LINK BUTTON
  .getStartedButton {
    border-radius: 1rem;
    background-color: var(--accent-color);
    a {
      color: white;
      text-decoration: none;
    }
  }
}
